@media (max-width:991px) {
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    header{
        background-size: cover;
        background-repeat:no-repeat ;
        height:70px;
        }
        
.header h1
{
    color: azure;
    font-size: 50px;
}
.header p
{
    color: azure;
    font-size: 30px;
    font-weight: 600;
}
.header span
{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
}
.container{
    width: 95%;
}
.about .about-content .count:nth-child(1)
{
border-right:none !important;
border-bottom: none !important;
}
.about .about-content .count:nth-child(2)
{
border-bottom:1px solid #ffffff;
border-top:1px solid #ffffff;
}
.about .about-content .count:nth-child(3)
{
border-right:none !important;
}
.about .about-content .count:nth-child(4)
{
border-top:1px solid #ffffff;
}
.portfolio .nav-link{
    margin-bottom: 15px;
}
.resume .col-md-6{
margin-bottom: 25px;
}
.testimonials .item{
    margin-bottom: 25px;
}
.navbar{
    background-color:transparent;

}
.navbar-toggler{
    background-color:rgba(20, 19, 19, 0.3) ;
    
}
.navbar-nav{
    background-color:rgba(20, 19, 19, 0.3) ;
    border-radius: 10px ;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item{
    padding: 4px!important;
   
  }
  .nav-link{
    margin: 0 !important;
    color: rgb(0, 0, 0) !important;
    font-size: 18px;
    
  }
  .navbar .nav-link::after{
    display: none;
  }
  .social .icon i {
    background-color: #ffffff;
  }
  .bio-item img {
    width: 100% !important ;
  }
  .item[val="80"] .bar::after{
    width: 80%;
  }
  .item[val="70"] .bar::after{
    width: 70%;
  }
  .item[val="60"] .bar::after{
    width: 60%;
  }
  .item span{
    display: none;
  }
}
@media (max-width:768px){
    
        h1{
            font-size: 30px;
        }
        h2{
        font-size: 35px;
        }
        
    .resume{
        text-align: center;
    }
    .contact .container > p{
        width: 100%;
    }
    .map .contact-info{
        width:inherit;
    }
    .footer{
        padding:5rem !important;
    }
    .footer p:last-of-type, .footer p.copy{
        text-align: center !important;
    }
    
}